/*
1.Colors
2.Gradients
3.Fonts
4.Grid
*/


// ## 1. COLORS ##

/*
$color-primary:

$color-secondary:

$color-tertiary:

$color-black: #000;

$color-white: #fff;

$color-gray:
*/

// ## 2. GRADIENTS ##


// ## 3. FONT ##
$default-font-size: 1.6rem;
// ## 4. GRID ##
// $grid-width: ;
// $gutter-vertical: ;

// $gutter-horizontal:;